/* Remove any existing styles for the swiper class */
.swiper {
  /* If you don't want any padding, remove the padding properties */
  padding-top: 50px;
  padding-bottom: 50px;
  /* Remove display: flex-start */
  /* Remove width: 100% */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.img {
  display: block;
  width: 100%;
}

/* Add this style to make the slide container start from the full left */
.swiper-wrapper {
  align-items: flex-start;
}
