@import url("https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@300&family=Noto+Serif:ital,wght@1,300&family=Poppins:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.text {
  font-family: "Nota Serif", serif;
}
@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .design {
    display: block;
    text-align: center;
  }
  .digital {
    display: block;
    text-align: center;
    font-size: 45px;
  }
}
@media screen and (max-width: 915px) and (min-width: 768px) {
  .design {
    display: block;
    text-align: center;
  }
  .digital {
    display: block;
    text-align: center;
  }
}
.image_one {
  width: 12rem;
  height: 11rem;
  margin-top: 10rem;
}
.image_two {
  width: 15rem;
  height: 12rem;
  margin-top: 2rem;
  margin-left: -3rem;
}
.image_three {
  width: 12rem;
  height: 11rem;
  margin-top: 1rem;
  margin-left: -6.2rem;
}
@media screen and (max-width: 768px) {
  .image_one {
    width: 10rem;
    height: 10rem;
    margin-top: 10rem;
  }
  .image_two {
    width: 10rem;
    height: 10rem;
    margin-top: 4rem;
    margin-left: -3.7rem;
  }
  .image_three {
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    margin-left: -3.7rem;
  }
}
/* ___________________________ */
/* Apply styles only to the swiper-gallery */

